extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Fernanda Sesnick

        
        p JavaScript Developer


        .about-bio

          
          p My focus, as an aspiring professional, is to utilize my strengths to make a positive impact on the overall organization. I enjoy gathering, organizing, analyzing information, working in groups, and contributing to project strategies. 


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        
        ul
          li 555-555-1234
          li fernandasesnick@gmail.com

        
        a.btn-link(href='https://www.linkedin.com/in/fernanda-sesnick/') LinkedIn
        a.btn-link(href='https://github.com/Fsesnick/') GitHub
        a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back